<h2>New Material</h2>

<%= render 'form', url: @url %>
<br>
<% if @url.entity == 'course' %>
	<%= link_to 'Back', course_path(id: @url.entity_id) %>
<% else %>
	<%= link_to 'Back', urls_path %>
<% end %>