<div>
   <ul id = "navigation"> 
     <li><a href="/help">Help</a></li>
     <li><a href="/program">Program</a></li>
     <li><a href="/faq"><b>FAQ</b></a></li>
     <li><a href="/app">Application</a></li>
   </ul>
</div>
<div style="width: 100%; float:left; padding-right: 20px">
	<h2>Effort & time</h2> 
		<h3>Is there an expectation about the number of hours I will spend in this program?</h3>
		Around 120 hours for learning and 60 hours for demo, but these efforts can be discussed with manager and adjust accordingly. 
		<h3>Is this time still “magic” time?</h3> 
		Managers are stakeholders in this program. Associates to discuss and plan with manager based on other priority work. Associates are expected to put some additional efforts wherever required. 
		<h3>Will my manager support prioritizing my training time?</h3> 
		Yes, managers are stakeholders in this program 
		<h3>How many courses am I expected to complete? Do I have to cover all areas?</h3> 
		No specific number of courses, but spending 100 - 120 hours of learning is suggested. Courses to be selected after discussion with manager. Recommendation is to cover some fundamental and some advanced topics 
	<h2>Priority</h2> 
		<h3>Is the program compulsory for all architects?</h3>
		This program is considered a critical step in your growth path 
		<h3>Will this have an impact on my performance appraisal?</h3> 
		No 
		<h3>Why should I do the Computer Science courses? I am a Comp Sci engineer</h3> 
		It’s always a good idea to refresh fundamentals which we have studied in college. Cover newer and advanced aspects of the topic 
		<h3>I don't see why I should do a soft skills course? Why are project manager trainings being suggested for ICs?</h3> 
		Architects interact continuously and should have productive relationship with teams and stakeholders. Architects also carry accountability and responsibility for key projects, like managers 
	<h2>Paid courses and other costs</h2> 
		<h3>Will I be reimbursed for external trainings, certifications and to attend conferences?</h3> 
		Ideally free online course are preferred, but based on the business need, few trainings and certificates can be considered for approval by manager in consultation with departmental leads 
		<h3>Will there be any classrooms trainings, or is it only online courses</h3>
		The focus is on online courses. Specific topics can be considered for classroom training, internal or external 
		<h3>Can I get access to GCP or VMs or other tools to do my training or project?</h3>
		Managers will help get access to appropriate resources. GCP training and access is centrally managed 
	<h2>Credits & Completion</h2>
		<h3>Is my bonus based on the completion of the project?</h3> 
		There is learning and demonstration of learning in this program. Your manager decides completion of the IC program. 
		<h3>Will there still be a panel to review my goal, and will they approve all project proposals?</h3> 
		There is no formal panel  to review the goal. Architects should invite the Lead Architect, the product line Lead and other SMEs, along with their managers to the demonstration. Manager has the final say on acceptance of both course completion and demo completion 
		<h3>How many credits is the Architect expected to complete to get 100% bonus?</h3> 
		At least 20 credits for learning and 10 credits for demo 
		<h3>How many credits is the Architect expected to complete to get 50% bonus?</h3> 
		At least 10 credits for learning and 5 credits for demo 
		<h3>Can certification be considered as a demo?</h3> 
		Architect need to demonstrate the learnings with a POC/Demo. If the certification includes an exercise or a project, it can be considered as a demonstration 
		<h3>How were the credits assigned to courses?</h3> 
		Approximately 6 hours of effort is considered as 1 credit. Most courses can take more or less time depending on the architect’s familiarity with the topic. Average hours have been considered 
	<h2>Process</h2> 
		<h3>Do I need to enter my learning courses (goals) into workday?</h3> 
		Yes, goals need to be entered into workday after discussing with your manager 
		<h3>Will I be getting a letter from HR for the Architect Program, like in previous years?</h3> 
		Yes, HR will issue letter to Architects stating the credit expectation for bonus eligibility 
		<h3>When will this year’s program end?</h3> 
		The Architect program for 2016-17 ends June 2017. It is suggested that architects complete learnings by March-April 2017, and complete the demo before June-end 2017. 
		<h3>Is there any forum to share information with the Lead Architects and with other architects?</h3> 
		<p>Yes, there is a Yammer group for the <a class="url" href="https://www.yammer.com/jda.com/#/threads/inGroup?type=in_group&feedId=8776889">Architect Program</a>. Everyone is encouraged to actively share and seek information from this forum 
		<h3>By when should architects finalize their learning courses and enter them into workday?</h3> 
		Architects can enter their course selections as soon as they discuss it with their manager. They can also consult with their Lead Architect 
		<h3>Do we have to continue working as a team?</h3> 
		If the architects are interested in similar topics and courses, the team will enable sharing information. 
		<h3>Whom should i consult if I want guidance on a topic or a course?</h3> 
		The Lead of the team that researched the topic/course will be the SME for that topic. All architects can reach out to that Lead for assistance or guidance. Some topics might have more than one Lead who can assist

</div>
