<div>
   <ul id = "navigation"> 
     <li><a href="/help"><b>Help</b></a></li>
     <!--li><a href="/program">Program</a></li>
     <li><a href="/faq">FAQ</a></li-->
     <li><a href="/app">Application</a></li>
   </ul>
</div>
<div style="width: 100%; float:left">
  <div style="width: 50%; float:left; padding-right: 20px">

		<h2>Topic</h2>
		Learning topics are grouped by category and classification and have a volunteer team. Details can be added about the specific focus in that topic
		<ul>
			<li><b>Course:</b> View available courses in the topic, and suggest new courses</li>
			<li><b>Bookmark:</b> List of memebers interested in the topic. Can be used to form learning teams</li>
		</ul>
		<p>
		<h3>Notes</h3>
		<ul>
			<li>Topic teams will be (later) changed from single leader to discovery and training teams</li>
		</ul>
		</p>

		<h2>Course</h2>
		Quite a few details are required while adding a course. This is to allow better understanding and easier search. 
		<ul>
			<li>Course name and details as provided in the MOOC website. Details should crisply indicate purpose and depth</li>
			<li>Accurate representation of estimated time and difficulty level. Effort should generally indicate number of weeks, and number of hours per week</li>
			<li>Cost of accessing the course material and tests, and any additional cost for optionally getting certified</li>
			<li>University whose staff is offering the course, to indicate quality. Do not enter MOOC website or video website name. For miscellaeous trainings, it could be software vendor, training vendor or an individual</li>
			<li>If the course is available on a schedule, mention dates in the details</li>
			<li style="color: blue"> Enter each URL as a separate course. There are options to link courses into a specialization</li>
			<li style="color: blue"> Course credits will be assigned by Leads based on time estimate and difficulty</li>
		</ul>

		Sub-courses can be linked under a specialization/curriculum type of course, so that members can choose to complete the whole sepcialization (generally with certification cost), or select only a few of the courses.
		<p>
		All members who are interested in, and currently undergoing, or have completed the course are listed. Average user rating is displayed to understand quality of the course material
		</p>

		<h2>Subscription</h2> 
		<ul>
			<li><b>Interested:</b>Bookmark the course for later. Useful to find interest in certifications. Rating not required at this time</li>
			<li><b>In Progress:</b>Started work on the source. Rating not required at this time</li>
			<li><b>Completed:</b>Successfully completed the course. Provide rating and any feedback</li>
			<li><b>Recommended:</b>Recommend the course for others. Should recommend only after completing the course. Feedback is required.</li>
			<li><b>Certified:</b>Completed the (optional) certification as well. Do not use recommended if certified</li>
		</ul>

		<h2>Category and Classification</h2>
		Categories and Classifications are helpful for easy search. New entries can be added, and existing ones can be renamed. Browse through the category/classification detail screen to find listed topics and the courses available

  </div>
  <div style="width: 50%; float:right; padding-left: 20px">

		<h2>Styling</h2>
		<ul>
			<li>Navigation bar lists the main views. Lesser used screens are available under Others</li>
			<li>Hyper-linked entities are shown in bold green, and will display the entity's detail page</li>
			<li>Action buttons are in dark green, and are clustered in the top section in both index and display pages</li> 
			<li>Some of the tables offer line level actions. Actions are listed to the right in bold green</li>
			<li>Details view shows entity type and name on top, followed by main attributes. Related entities are listed in tables one below the other</li>
			<li>Mandatory fields in Add/Edit screens are higlighted in red, and will prompt for input</li>
			<li>Search screens with many entries provide drop downs and a wildcard search option</li>
		</ul>

		<h2>Member</h2>
		All participants are defined as members with manager, title and stream. There is no authentication or feature for "current user". Member details screen is the GOTO screen for each architect. 
		<ul>
			<li><b>Topics:</b> Members can bookmark topics of interest, so they are readily available for reference</li>
			<li><b>Course Submission:</b> Members can recommend new courses as part of the Discovery phase</li>
			<li><b>Team:</b> Members can join teams for discovery or training groups</li>
			<li><b>Subscription:</b> Members can select the courses they plan to undertake. They can update training status, and also rate the course and add review comments on completion</li>
		</ul>

		<h2>Team</h2>
		Teams can be formed for discovery, training and demonstration. Discovery teams are named by leader. Learning group teams might more appropriately be named by Topic. 
		<h3>Notes</h3>
		<ul>
			<li style="color: blue">Ad hoc team support is not fully tested</li>
		</ul>
		</p>

		<h2>Named List</h2>
		Administrative list of drop down options used in various screens. <b>Should be modified by admins only</b>
  </div>
</div>


