<div>
   <ul id = "navigation"> 
     <li><a href="/help">Help</a></li>
     <li><a href="/program"><b>Program</b></a></li>
     <li><a href="/faq">FAQ</a></li>
     <li><a href="/app">Application</a></li>
   </ul>
</div>
<div style="width: 100%; float:left">

<h2>Objective</h2>
  The objective of the Architect program is to build best-in-class architects by inculcating a culture of learning and innovation
  <h2>Eligibility</h2>
  Associates at P6 level from PD and PMG teams will move into Architect Program based on qualifying the following criteria: 
  <ul>
    <li>Associates are in either Technical / Functional / QA track or in Product management roles</li>
    <li>Associates should have demonstrated architecture and design capabilities in the product</li>
    <li>Associates should have a consistent rating of “Achieving” and above</li>
    <li>Associates, if rated Mostly Achieving in the current review cycle will automatically be disqualified from program</li>
  </ul>

<h2>Process</h2>
  Architect program will have 3 phases – Discovery, Learning, and Demonstration. while pre-defined credits have been assigned to Learning and Demonstration phases.

  <h3>Discovery Phase: </h3>
  <ul>
    <li>In the Discover phase, associates are expected to recommend courses / certifications along with the identified leads</li>
    <li>Courses will have predefined credits based on effort required (1 credit = 6 hours of effort)</li>
  <h3>Learning Phase:</h3>
    <li>In the Learning phase, Associates are expected to discuss with their managers and identify courses/certifications that they’d like to pursue by end of March</li>
    <li>Maximum of 20 credits are assigned for learning</li>
    <li>Toward the end of the learning phase, manager will evaluate the learning of the associate and awards either 0 / 10 / 20 credits based on the courses/certifications undertaken</li>
  <h3>Demonstration Phase:</h3>
    <li>In the Demo phase, associates are expected to provide a demo to both respective manager and to an identified SME, based on what they’ve learnt during the Learning phase</li>
    <li>Maximum of 10 credits are assigned for Demo</li>
    <li>Manager will evaluate the demo and will award either 0 / 5 / 10 credits</li>
  </ul>
  Architect Program Bonus is calculated and paid out based on credits earned by an associate toward the end of the Architect program

<h2>Reward and Recognition</h2>
  Associates will be eligible for Architect Program Bonus of 5% in addition to their profit sharing bonus amount, provided an associate has demonstrated his/her learnings to the respective manager. The bonus payment is subject to the following terms. 
  <ul>
    <li>An associate will be eligible for 100% bonus, if he/she attains 30 credits (maximum credits an associate can earn)
    <i>(Scenario: an associate attaining 20 credits in learning phase and 10 credits in Demo phase)</i></li>
    <li>An associate will be eligible for 50% bonus, if he/she attains 15 credits
    <i>(Scenario: an associate attaining 10 credits in learning phase and 5 credits in Demo phase)</i></li>
    <li>An associate will not receive any bonus, if he/she receives 0 credits in Demo phase even if he/she has attained credits in learning phase
    <i>(Scenario: an associate attaining 20 or 10 credits in learning phase and 0 credits in Demo Phase)</i></li>
  </ul> 

</div>
